// CRT on/off effect addapted from the work of Joel Besada
// https://forrst.com/posts/CRT_Screen_Effect_CSS_Keyframe_Animation-PcS

@include keyframes(crt-on) { 
  0% {
    opacity: 0.0;
    @include transform(scale(0.5, 0.005));
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  40% {
    opacity: 1.0;
  }
  70% {
    @include transform(scale(1.0, 0.005));
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  100% {
    @include transform(scale(1.0, 1.0));
  }
}
 
@include keyframes(crt-off) { 
  0% {
    @include transform(scale(1.0, 1.0));
    opacity: 1.0;
  }
  40% {
    @include transform(scale(1.0, 0.005));
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
  70% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.0;
    @include transform(scale(0.5, 0.005));
    box-shadow: inset 0 9999px 0 rgba(255,255,255,1.0);
  }
}

// Blinking cursor. Not quite like the old blink element. :)
@include keyframes(blink) {  
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}