// Sections
///////////////////////////////////////////////////////////////////////////////
.all-sections {
  @media screen and (min-width: $larger-than-large) {
    transition-property: opacity;
    transition-duration: .5s;
  }
}

section {
  width: 100%;
}

.text-area p,
.text-area ul,
.text-area ol,
.talks,
.form-wrapper {
  font-family: $text-font-family;

  margin: auto;

  margin-top: 1em;

  width: 95%;
}

.article-body p, .article-body h3 {
  margin: auto;
  margin-top: 1em;
}

.text-area p,
.text-area ul,
.text-area ol,
.showcase-with-shot p,
.talks,
.form-wrapper,
.information,
h5,
.description p,
.article-body p,
.article-body h3 {
  font-size: 1.3em;
  line-height: 1.3em;

  @media screen and (min-width: $larger-than-small) {
    font-size: 1.4em;
  }

  @media screen and (min-width: $larger-than-medium) {
    font-size: 1.5em;
  }

  @media screen and (min-width: $larger-than-large) {
    font-size: 1.6em;
  }

  @media screen and (min-width: $larger-than-very-large) {
    font-size: 1.7em;
  }
}

.grab, .badge {
  display: inline-flex;
  align-items: center;

  text-decoration: none;
}

.grab {
  font-size: 1em;
  line-height: 1em;

  @media screen and (min-width: $larger-than-small) {
    font-size: 1.1em;
  }

  @media screen and (min-width: $larger-than-medium) {
    font-size: 1.2em;
  }

  @media screen and (min-width: $larger-than-large) {
    font-size: 1.3em;
  }

  @media screen and (min-width: $larger-than-very-large) {
    font-size: 1.4em;
  }


  &::before {
    $size: 1em;

    content: "";
    background-size: $size $size;

    flex: 0 0 $size;

    width: $size;
    height: $size;

    margin-right: .5em;
  }
}

.work-status {
  width: 100%;
  display: flex;
  align-content: center;
  align-items: center;
}

.badge {
  font-family: $text-font-family;
  background-color: transparent;
  border-width: 0;
  color: $white;

  font-weight: bold;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;

  margin: 0 auto;
  padding: 0;

  font-size: .8em;
  line-height: .8em;

  @media screen and (min-width: $larger-than-small) {
    font-size: .9em;
  }

  @media screen and (min-width: $larger-than-medium) {
    font-size: 1em;
  }

  @media screen and (min-width: $larger-than-large) {
    font-size: 1.1em;
  }

  @media screen and (min-width: $larger-than-very-large) {
    font-size: 1.2em;
  }

  .availability, .status {
    @media screen and (min-width: $larger-than-medium) {
      padding: .5em .6em;
    }
  }

  .status {
    background-color: $badge-status;
    border-radius: $base-border-radius 0 0 $base-border-radius;

    transition: all 0.3s ease-in-out;
  }

  &:hover .status {
    background-color: darken($badge-status, 10);
  }

  .availability {
    border-radius: 0 $base-border-radius $base-border-radius 0;

    transition: all 0.3s ease-in-out;
  }

  &.available .availability {
    background-color: $badge-available;
  }

  &.limited-availability .availability {
    background-color: $badge-limited-availability;
  }

  &.not-available .availability {
    background-color: $badge-not-available;
  }

  &.available:hover .availability {
    background-color: darken($badge-available, 10);
  }

  &.limited-availability:hover .availability {
    background-color: darken($badge-limited-availability, 10);
  }

  &.not-available:hover .availability {
    background-color: darken($badge-not-available, 10);
  }
}

.view-website::before {
  background-image: url('/assets/images/link.svg');
}

.grab-ios::before {
  background-image: url('/assets/images/iphone-icon.svg');
  opacity: .7;
}

.grab-watchos::before {
  background-image: url('/assets/images/apple-watch-icon.svg');
  opacity: .7;
}

.grab-android::before {
  background-image: url('/assets/images/android-phone-icon.svg');
  opacity: .7;
}

.text-area p,
.text-area ul,
.text-area ol {
  text-align: left;

  @media screen and (min-width: $larger-than-small) {
    width: 90%;
  }

  @media screen and (min-width: $larger-than-medium) {
    width: 80%;
  }

  @media screen and (min-width: $larger-than-large) {
    width: 75%;
  }

  @media screen and (min-width: $larger-than-very-large) {
    width: 60%;
  }
}

.text-area ul, .text-area ol {
  list-style-position: outside;

  li {
    padding-left: 1em;
  }

  span {
    color: $base-font-color;
  }
}

.text-area ul {
  list-style-type: '>';
}

.text-area ol {
  list-style-type: decimal;
}

.talks, .form-wrapper {
  margin-top: 3em;

  @media screen and (min-width: $larger-than-small) {
    width: 90%;
  }

  @media screen and (min-width: $larger-than-large) {
    width: 85%;
  }

  @media screen and (min-width: $larger-than-very-large) {
    width: 75%;
  }
}

.form-wrapper {
  margin-top: 2em;
  background: $white;
  padding: 1em;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url('/assets/images/device-background.svg');
  background-position: center;
  background-size: 24em;

  @media screen and (min-width: $larger-than-small) {
    background-size: 34em;
  }

  background-repeat: no-repeat, no-repeat;

  position: relative;

  background-color: $even-section;

  overflow: auto; // Prevent margins from collapsing.

  min-height: 100vh;

  header {
    text-align: center;
    position: relative;
  }

  .apple {
    display: inline-block;
    background: url('/assets/images/apple.svg') no-repeat;
    background-size: contain;
    height: 1em;
    text-indent: -9999px;
    width: 1em;
    position: relative;
    top: 0.25em;
  }
}

.projects {
  background-color: $even-section;
  min-height: initial;

  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;

  @media screen and (min-width: $larger-than-medium) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.about {
  clear: both;

  padding-top: 4em;
  padding-bottom: 3em;

  background-color: $odd-section;

  .about-me {
     padding: 2em;
     padding-top: 1em;
     padding-bottom: 5em;
  }

  header {
    padding: 2em 0;

    @media screen and (min-width: $larger-than-medium) {
      margin-top: 1em;
    }
  }

  h1 {
    font-family: $headline-font-family;
    text-transform: uppercase;
    text-align: center;

    color: $base-font-color;

    margin-bottom: 0.1em;

    font-size: 2.5em;
  }

  h2 {
    font-family: $headline-font-family;
    text-align: center;

    color: $black;

    font-weight: normal;
    font-size: 1.5em;

    margin-top: 0.5em;
  }

  .me {
    display: block;

    width:  10em;
    height: 10em;

    border-radius: 100%;

    margin: 0 auto;
  }
}

// Showcase sections
////////////////////////////////////////////////////////////////////////////////

.showcase, .showcase-small {
  max-width: 75em;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}

.showcase .showcase-wrapper {
  flex: 0 0 100%;
  padding: 1em;

  @media screen and (min-width: $larger-than-medium) {
    flex: 0 0 50%;
  }

  @media screen and (min-width: $larger-than-large) {
    padding: 2em;
  }
}

.showcase .showcase-wrapper.double {
  flex: 0 0 100%;
  padding: 1em;

  @media screen and (min-width: $larger-than-large) {
    padding: 2em;
  }
}

.showcase-small .showcase-wrapper {
  flex: 0 0 100%;
  padding: 1em;

  @media screen and (min-width: $larger-than-medium) {
    flex: 0 0 33.33%;
  }

  @media screen and (min-width: $larger-than-large) {
    padding: 2em;
  }
}

.showcase-item {
  display: block;
  color: $black;
  border-radius: 0.5em;
  transition: all .3s ease-in-out;
  text-decoration: none;

  &:hover {
    color: inherit;
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 .6em rgba($black, .1);
  }

  &::after {
    content: none;
  }
}

.ink-showcase {
  > section:not(:last-of-type) {
    &::after {
      content: "";
      display: block;
      width: 50%;
      margin: .5em auto;
      margin-top: 3em;
      height: .2em;
      background-color: $ink-color;
      opacity: .3;
    }
  }

  > section:not(:first-of-type) {
    padding-top: 3em;
  }
}

.preview {
  .abjapp & {
    background-image: url(/assets/images/abjapp.svg);
  }

  .the-bell & {
    background-image: url(/assets/images/the-bell.svg);
  }

  .genesis & {
    background-image: url(/assets/images/genesis.png);
  }

  .actitens & {
    background-image: url(/assets/images/actitens.svg);
  }

  .instructions & {
    background-image: url(/assets/images/instructions.svg);
  }

  .ink & {
    background-image: url(/assets/images/ink.svg);
  }

  .autodazzler & {
    background-image: url(/assets/images/autodazzler.svg);
  }

  .sophisticate & {
    background-image: url(/assets/images/sophisticate.svg);
  }

  .pomme-plate & {
    background-image: url(/assets/images/pomme-plate.svg);
  }

  .genetrainer & {
    background-image: url(/assets/images/genetrainer.svg);
  }

  .mynox & {
    background-image: url(/assets/images/mynox.svg);
  }

  .how-many-sleeps & {
    background-image: url(/assets/images/how-many-sleeps.svg);
  }

  .showcase-item:hover & {
    background-size: 120%;
  }

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all .3s ease-in-out;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 55%;
  }
}

@media screen and (min-width: $larger-than-medium) {
  .double .showcase-item:hover .preview {
    background-size: 70%;
  }

  .double .preview {
    background-size: 50%;

    &::before {
      padding-top: 26%;
    }
  }
}

.plateform {
  width: 100%;
  background-color: $white;
  padding: 1em;
  display: flex;

  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;

  font-size: 1.2em;

  p {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }
}

.showcase-small .plateform {
  p {
    font-size: .9em;
  }
}

.abjapp {
  background-color: $abjapp-color;
}

.the-bell {
  background-color: $the-bell-color;
}

.genesis {
  background-color: $genesis-color;
}

.actitens {
  background-color: $actitens-color;
}

.instructions {
  background-color: $instructions-color;
}

.ink {
  background-color: $ink-color;
}

.autodazzler {
  background-color: $daz-color;
}

.sophisticate {
  background-color: $sophisticate-color;
}

.pomme-plate {
  background-color: $pomme-plate-color;
}

.genetrainer {
  background-color: $genetrainer-color;
}

.mynox {
  background-color: $mynox-color;
}

.how-many-sleeps {
  background-color: $how-many-sleeps-color;
}

.speaking {
  background: $odd-section;
  min-height: initial;
  padding: 3em 2em;

  @media screen and (min-width: $larger-than-large) {
    padding: 3em;
  }
}

.get-in-touch {
  background: $even-section;
  min-height: initial;
  padding: 3em 1em;

  @media screen and (min-width: $larger-than-large) {
    padding: 3em;
  }
}

.thanks {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 1.2em;

  h1 {
    margin: .25em;
  }

  h2 {
    margin-bottom: .5em
  }
}

footer {
  background: $odd-section;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.article footer, .articles footer {
  background: $even-section;
}

.social-button {
  display: block;
  height: 3em;
  text-indent: -9999px;
  width: 3em;

  &::after {
    content: none;
  }

  margin-left: 2em;

  &:first-child {
    margin-left: 0;
  }

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.github {
  background: url('/assets/images/github.svg') no-repeat;
  background-size: contain;
}

.linkedin {
  background: url('/assets/images/linkedin.svg') no-repeat;
  background-size: contain;
}

.twitter {
  background: url('/assets/images/twitter.svg') no-repeat;
  background-size: contain;
}


.skills {
  background-color: #FCFAF8;
  width: 100%;
  padding: 1.5em;
  margin: 1.5em 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $larger-than-medium) {
    padding: 3em;
  }
}

.rail {
  position: relative;
  max-width: 1280px;
  width: 100%;

  @media screen and (min-width: $larger-than-medium) {
    &::before {
      position: absolute;
      left: 2em;
      top: calc(3em - 1.5px);
      z-index: 500;

      content: '';
      width: calc(100% - 1px - 4em);
      height: 3px;

      background-color: $dark-beige;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  @media screen and (min-width: $larger-than-medium) {
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: flex;
    flex: 0 0 5em;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;

    @media screen and (min-width: $larger-than-medium) {
      margin: 0 2em;
    }

    > span {
      color: $mini-header-color;
      font-family: $headline-font-family;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: 1em;
    }
  }

  img {
    z-index: 600;
    width: 6em;
    height: 6em;

    border-radius: 100%;
    border: 2px solid $dark-beige;

    @media screen and (min-width: $larger-than-medium) {
      border-width: 3px;
    }
  }
}

.article body > section, .articles body > section {
  background-color: $odd-section;
}

.article-body blockquote, .highlighted-images {
  background-color: $even-section;
  margin-left: 0;
  margin-right: 0;

  padding: 2em 0;
  margin-top: 2em;
}

.highlighted-images {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  figure {
    width: 70%;
  }

  img {
    width: 100%;

    border-radius: 6px;
    border: 6px solid $dark-beige;
  }

  figcaption {
    text-align: center;
    font-family: $blog-body-typeface;
    font-style: italic;
    margin-top: .5em;

    font-size: 1.2em;
  }

  @media screen and (min-width: $larger-than-medium) {
    figure {
      width: 30%;
    }
  }
}

.article-body blockquote {
  p {
    margin-top: 0;
    position: relative;
    padding-left: 1em;

    font-style: italic;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: .3em;
      border-radius: .15em;
      background-color: $border-color;
      height: 100%;
    }
  }
}

.article-body {
  padding-top: 1.5em;
}

.article-body p, .article-body h3, .gist {
  text-align: justify;
  hyphens: auto;

  width: 90%;

  @media screen and (min-width: $larger-than-small) {
    width: 85%;
  }

  @media screen and (min-width: $larger-than-medium) {
    width: 75%;
  }

  @media screen and (min-width: $larger-than-large) {
    width: 65%;
  }

  @media screen and (min-width: $larger-than-very-large) {
    width: 55%;
  }

  margin: 1.5em auto 0 auto;
}

.article header {
  background-color: $even-section;
  padding: 9em 1em;
  padding-top: 13em;

  h1 {
    text-align: center;
    margin: 0 auto;
    padding: .5em 0;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -.2em;
      width: 100%;
      height: 100%;
      background: url('/assets/images/coach-marks-background.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    @media screen and (min-width: $larger-than-small) {
      width: 90%;
      font-size: 3em;
    }

    @media screen and (min-width: $larger-than-medium) {
      width: 75%;
      font-size: 4em;
    }

    @media screen and (min-width: $larger-than-large) {
      width: 65%;
      font-size: 4.5em;
    }

    @media screen and (min-width: $larger-than-very-large) {
      width: 50%;
      font-size: 5em;
    }
  }
}

.date-section {
  background: $even-section;
  padding-top: 2em;
  padding-bottom: 0em;

  font-style: italic;
  font-size: 1.5em;
  text-align: center;

  margin-top: 2em;
  position: relative;

  display: flex;

  span {
    display: block;
    margin-left: auto;
    margin-right: auto;

    &::before, &::after {
      content: '';
      display: block;
      width: 50%;
      height: .1em;
      background-color: $border-color;
      border-radius: .2em;
      position: relative;
    }

    &::before {
      top: calc(50%);
      left: calc(-50% - 1em);
    }

    &::after {
      bottom: calc(50% - .1em);
      left: calc(100% + 1em);
    }

    @media screen and (min-width: $larger-than-small) {
      &::before, &::after {
        width: 60%;
      }

      &::before {
        left: calc(-60% - 1em);
      }
    }
  }
}

.introduction p {
  margin-top: 2.5em;
}