// Typography
///////////////////////////////////////////////////////////////////////////////
body {
  color: $base-font-color;
  font-size: $base-font-size-px;
  -webkit-font-smoothing: antialiased;

  font-size: $base-font-size;

  @media screen and (min-width: $larger-than-small) {
    font-size: $base-font-size * 0.9;
  }

  @media screen and (min-width: $larger-than-medium) {
    font-size: $base-font-size * 1.0;
  }

  @media screen and (min-width: $larger-than-large) {
    font-size: $base-font-size * 1.1;
  }

  @media screen and (min-width: $larger-than-very-large) {
    font-size: $base-font-size * 1.3;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headline-font-family;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p,
ul {
  margin: 0 0 ($base-line-height * .5);
}

.portfolio {
  body {
    font-family: $text-font-family;
  }

  h1 {
    font-family: $headline-font-family;
    font-size: 2.5em;
    color: $headline-text-color;
    font-weight: normal;
    text-transform: uppercase;

    @media screen and (min-width: $larger-than-small) {
      font-size: 3.5em;
    }
  }

  h2 {
    font-family: $subheadline-font-family;
    font-size: 1.3em;
    font-weight: 500;
    color: $subheadline-text-color;

    margin: 0;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.8em;
    }
  }

  h3,
  h4 {
    text-align: center;

    color: $green;
    font-family: $headline-font-family;

    text-transform: uppercase;
    font-weight: normal;

    font-size: 2.5em;
  }

  .big-section h4 {
    font-size: 3.5em;
    color: $black;
  }

  .projects h4 {
    color: $subheadline-text-color;
    font-size: 2em;
    margin: 1em 0;
  }

  h3,
  h5 {
    &::after {
      content: "";
      display: block;
      width: 1.7em;
      margin: .5em auto;
      height: .1em;
      background-color: $black;
      opacity: .2;
    }
  }

  h5 {
    font-family: $subheadline-font-family;
    font-weight: 500;
    text-align: center;

    &::after {
      font-size: 2em;
    }
  }

  .big-section h5::after,
  .illustration h5::after {
    content: none;
  }

  .big-section h5 {
    margin-top: 1.5em;
  }

  .illustration h5 {
    color: white;
    margin-top: 1.5em;
  }

  li a,
  p a,
  .thanks a {
    color: $base-link-color;
    text-decoration: none;
    display: inline-block;
    position: relative;

    transition-delay: 0;
    transition-duration: .1s;
    transition-property: color, border-bottom;
    transition-timing-function: ease-in-out;

    border-bottom: 2px solid $base-link-color;
    padding-bottom: .1em;

    &:hover {
      color: $hover-link-color;
      border-bottom-color: $hover-link-color;
    }

    &:focus {
      color: $hover-link-color;
      outline: none;
    }
  }

  li a {
    display: inline;
  }

  .ink-showcase a:not(.grab) {
    color: $ink-showcase-color;
    border-bottom-color: $ink-showcase-color;

    &:hover {
      color: $darken-ink-showcase-color;
      border-bottom-color: $darken-ink-showcase-color;
    }
  }
}

.articles {
  body {
    font-family: $blog-body-family;
  }

  h2 {
    font-family: $headline-font-family;
    font-size: 1.8em;
    font-weight: 500;
    color: $subheadline-text-color;
    text-transform: uppercase;

    margin: 0;

    @media screen and (min-width: $larger-than-small) {
      font-size: 2.5em;
    }
  }

  h2, h2 a, li a {
    color: $black;
    text-decoration: none;

    &::after {
        border: 0;
    }
  }

  h3 {
    font-family: $blog-body-typeface;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;

    opacity: .5;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.2em;
    }
  }

  p {
    font-size: 1.1em;
    line-height: 1.5;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.3em;
    }

    a {
      color: $base-link-color;
      text-decoration: underline;
      display: inline-block;
      position: relative;

      transition-delay: 0;
      transition-duration: .1s;
      transition-property: color;
      transition-timing-function: ease-in-out;

      &:hover {
        color: $hover-link-color;
      }

      &:focus {
        color: $hover-link-color;
        outline: none;
      }
    }
  }
}

.article {
  body {
    font-family: $blog-body-family;
  }

  h1 {
    font-family: $headline-font-family;
    font-size: 2.5em;
    color: $headline-text-color;
    font-weight: normal;
    text-transform: uppercase;

    @media screen and (min-width: $larger-than-small) {
      font-size: 3.5em;
    }
  }

  h2 {
    font-family: $subheadline-font-family;
    font-size: 1.3em;
    font-weight: 500;
    color: $subheadline-text-color;

    margin: 0;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.8em;
    }
  }

  section > p:first-child {
    text-align: left;

    color: $black;
    font-family: $blog-body-family;

    font-weight: bold;

    font-size: 1.2em;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.4em;
    }
  }

  .article-body h3 {
    text-transform: uppercase;
    font-size: 1.2em;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.5em;
    }
  }

  .article-body p {
    font-size: 1.1em;

    @media screen and (min-width: $larger-than-small) {
      font-size: 1.3em;
    }
  }

  a {
    p &,
    li & {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }

  a {
    color: $base-link-color;
    text-decoration: none;
    display: inline-block;
    position: relative;

    transition-delay: 0;
    transition-duration: .1s;
    transition-property: color, border-bottom;
    transition-timing-function: ease-in-out;

    &:hover {
      color: $hover-link-color;
    }

    &:focus {
      color: $hover-link-color;
      outline: none;
    }

    .ink-showcase & {
      color: $ink-showcase-color;
      border-bottom-color: $ink-showcase-color;

      &:hover {
        color: $darken-ink-showcase-color;
        border-bottom-color: $darken-ink-showcase-color;
      }
    }

    p &,
    li &,
    .thanks & {
      border-bottom: 2px solid $base-link-color;
      padding-bottom: .1em;

      &:hover {
        border-bottom-color: $hover-link-color;
      }
    }

    li & {
      display: inline;
    }
  }
}

.hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}