// Media queries breakpoints
////////////////////////////////////////////////////////////////////////////////
$small:                   20em; // 320
$medium:                  45em; // 720
$large:                   64em; // 1024
$very-large:              90em; // 1440

$larger-than-small:       20.063em; // 321
$larger-than-medium:      45.063em; // 721
$larger-than-large:       64.063em; // 1025
$larger-than-very-large:  90.063em; // 1441
