// Defaults
///////////////////////////////////////////////////////////////////////////////
*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
html {
    margin: 0;
    padding: 0;
}

html {
  background-color: $default-background-color;
  box-sizing: border-box;
}

body {
  background-color: $default-background-color;
}

.hidden {
  display: none;
}

.invisible > div {
  opacity: 0;
  transition: opacity .35s ease-in-out;
}

.visible > div {
  opacity: 1;
  transition: opacity .35s ease-in-out;
}
