// Defaults
///////////////////////////////////////////////////////////////////////////////
*,
*:before,
*:after {
  box-sizing: inherit;
}

body, html {
    padding: 0;
    margin: 0;
}

html {
  background-color: $html-background-color;
  box-sizing: border-box;
}

body {
  background-color: $body-background-color;
  
  // Easter-egg CSS preload
  &:before {
    content: url("/assets/images/dromedary.jpg") url("/assets/images/plush_dromedary.jpg");
    display: none;
  }
}

.hidden {
  display: none;
}