// Sections
///////////////////////////////////////////////////////////////////////////////
.all-sections {
  @include media($larger-than-large) {
    transition-property: opacity;
    transition-duration: .5s;
  }
}

section {  
  width: 100vw;
}

.landing {
  @include radial-gradient(circle at 50% 0%, $dark-section-first-color, $dark-section-second-color);
  
  position: relative;
  
  background-color: $dark-section-first-color;
  
  overflow: auto; // Prevent margins from collapsing.

  min-height: 100vh;

  header {
    text-align: center;
    color: $headline-text-color;
        
    position: relative;
    
    margin-top: 13em;
    margin-top: 40vh;
  }

  h1 {
    font-family: $headline-font-family;
    font-size:   3em;
  }

  h2 {
    font-family: $subheadline-font-family;
    font-size:   0.8em;
    
    text-transform: uppercase;
    
    margin:     0;
    margin-top: 0.5em;
    
    @include media($larger-than-small) {
      font-size:   1em;
    }
  }

}

.projects {
  @include clearfix;
  @include radial-gradient(circle at 50% 100%, $dark-section-first-color, $dark-section-second-color);

  background-color: $dark-section-first-color;
  min-height: initial;

  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;

  h3 { 
      text-align: center;

      color: $dark-white;
      font-family: $secondary-typeface;

      text-transform: uppercase;

      font-size: 1.5em;
  }
}

.about {
  @include radial-gradient(circle at 50% 50%, $light-section-first-color, $light-section-second-color);
  
  clear: both;

  padding: 1em;
  padding-bottom: 2em;
  
  background-color: $light-section-first-color;
  
  .about-me {
     padding: 1em;
     padding-bottom: 2em;
  }
    
  header {
    padding: 2em 0;
        
    @include media($larger-than-medium) {
      margin-top: 1em;
    }
  }
    
  h1 {
    font-family: $headline-font-family;
    text-transform: uppercase;
    text-align: center;
    
    color: $base-font-color;
    
    margin-bottom: 0.1em;
    
    font-size: 2.5em;
  }

  h2 {
    font-family: $headline-font-family;
    text-align: center;
    
    color: $grey;
    
    font-weight: normal;
    font-size: 1.5em;
    
    margin-top: 0.5em;
  }
    
  .me {
    display: block;
    
    width:  10em;
    height: 10em;
        
    border: solid $picture-border-color 3px;
        
    margin: 0 auto;
  }
    
  p {
    font-family: $text-font-family;
    
    margin: auto;
        
    margin-top: 1em;
    
    width: 95%;
    font-size: 1.3em;
        
    line-height: 1.3em;
        
    @include media($larger-than-small) {
      width: 90%;
      font-size: 1.4em;
    }
        
    @include media($larger-than-medium) {
      width: 80%;
      font-size: 1.5em;
    }
    
    @include media($larger-than-large) {
      width: 75%;
      font-size: 1.6em;
    }
    
    @include media($larger-than-very-large) {
      width: 60%;
      font-size: 1.7em;
    }
  }
}

// Showcase sections
///////////////////////////////////////////////////////////////////////////////
.showcase {
    .gimmicode, .abjapp, .instructions {
        padding: 3em;
        padding-bottom: 2em;
    }
    
    .screenshot {
        padding-top:56.25%;
        position: relative;
        
        a {
            width: 100%;
            height: 100%;
            
            display: block;
            background-size: 100% 100%;
            background-position: center center;
            
            @include media($larger-than-large) {
              @include transition-delay(0s);
              @include transition-duration(.3s);
              @include transition-property(background-size, background-position);
              @include transition-timing-function(ease-in-out);
            }
            
            &:hover {
                background-size: 150% 150%;
            }
        }
    }
    
    .screenshot-content {
        @include media($larger-than-large) {
          @include transition-delay(0s);
          @include transition-duration(.3s);
          @include transition-property(width, height, top, left);
          @include transition-timing-function(ease-in-out);
        }
        
        position: absolute;

        width: 100%;
        height: 100%;
        
        top: 0;
        left: 0;
    }
    
    .full-page {
        z-index: 100;

        a {
          display: none;
        }
    }
    
    .gimmicode {
        width: 100%;
        
        padding-right: 0;
        padding-left: 0;
        
        .screenshot-content {
            background: $gimmicode-color;
        }
        
        a {
            background-image: url('/assets/images/gimmicode.svg');
            
            &.no-background-image {
                background-image: none;
            }
        }
    }
    
    .instructions {
        width: 100%;
        
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        
        .screenshot-content {
            background: $instructions-color;
        }
        
        a {
            background-image: url('/assets/images/instructions.svg');
            
            &.no-background-image {
                background-image: none;
            }
        }
    }
    
    .abjapp {
        width: 100%;
        
        padding-right: 0;
        padding-left: 0;
        padding-top: 0;
        
        .screenshot-content {
            background: $abjapp-color;
        }
        
        a {
            background-image: url('/assets/images/abjapp.svg');
            
            &.no-background-image {
                background-image: none;
            }
        }
    }
    
    @include media($larger-than-medium) {
        .gimmicode {
            float: left;
            width: 50%;
            padding-top: 3em;
            
            padding-right: 1em;
            padding-left: 2em;
        }
    
        .abjapp {
            float: none;
            clear: both;
            width: 50%;
            padding-top: 0em;

            padding-left: 2em;
            padding-right: 2em;

            margin-left: auto;
            margin-right: auto;
        }
        
        .instructions {
            float: right;
            width: 50%;
            padding-top: 3em;
            
            padding-left: 1em;
            padding-right: 2em;
        }
    }
    
    h4 {
        font-weight: normal;
        font-size: 1em;
        
        text-align: center;
        margin-top: 2em;
    }
}

.gimmicode-showcase {
    img {
        width: 50%;
        
        @include media($medium) {
          width: 75%;
        }
    }
}

.instructions-showcase {
  .ipad-container {
    width: 50%;
    
    @include media($medium) {
      width: 75%;
    }
    
    margin-left: auto;
    margin-right: auto;
    
    position: relative;
  }
  
  img {
      width: 100%;
  }
  
  .video-demo {
    position: absolute;
    
    left: 9.09%;
    top: 6.56%;
    
    width: 82.02%;
    height: 86.98%;
    
    background-image: url(/assets/images/instructions-placeholder.png);
    background-size: cover;
    
    video {
      width: 100%;
      height: 100%;
      
      @include media($medium) {
        display: none;
      }
    }
  }
}

.abjapp-showcase {
    img {
        width: 15%;
        
        @include media($medium) {
          width: 50%;
        }
    }
}

.big-showcase {
    width:      100vw;
    min-height: 100vh;
    
    position: absolute;
    top: 0;
    left: 0;
    
    h4 {
        position: absolute;
        top: 0;
        left: 0;
        
        text-indent: -9999px;
    }
    
    img {
        margin: auto;
        display: block;
        
        margin: 5em auto;
    }
    
    .showcase-content {
        margin: 5em 2em;
    }
    
    p {
        font-family: $text-font-family;
        color: white;
    
        margin: auto;
        
        margin-top: 1em;
    
        width: 95%;
        font-size: 1.3em;
        
        line-height: 1.3em;
        
        @include media($larger-than-small) {
          width: 90%;
          font-size: 1.4em;
        }
        
        @include media($larger-than-medium) {
          width: 80%;
          font-size: 1.5em;
        }
    
        @include media($larger-than-large) {
          width: 75%;
          font-size: 1.6em;
        }
    
        @include media($larger-than-very-large) {
          width: 60%;
          font-size: 1.7em;
        }
    }
}

[id='gimmicode-showcase'] {
    background-color: $gimmicode-color;
}

[id='abjapp-showcase'] {
    background-color: $abjapp-color;
}

[id='instructions-showcase'] {
    background-color: $instructions-color;
}

.close-showcase {
    display: block;

    font-size: 3em;
    
    position: absolute;
    left: .5em;
    top: .25em;
    
    width: 1em;
    height: 1em;
    
    &::before {
      height: 1em;
      width: 1em;
      
      position: absolute;
      left: 0;
      top: 0;
      
      content: "×";
      color: $showcase-link-color;
      
      @include transition(0.1s 0s color ease-in-out);
    }
    
    @include media($larger-than-medium) {
      position: fixed;
    }
}

.gimmicode-showcase .close-showcase {
  &:hover, &:active {
    &::before {
      color: $gimmicode-link-hover-color;
    }
  }
}

.abjapp-showcase .close-showcase {
  &:hover, &:active {
    &::before {
      color: $abjapp-link-hover-color;
    }
  }
}

.instructions-showcase .close-showcase {
  &:hover, &:active {
    &::before {
      color: $instructions-link-hover-color;
    }
  }
}

// No JS Fallback
///////////////////////////////////////////////////////////////////////////////
.no-js {
  .projects {
    display: none;
  }
  
  .big-showcase {
    position: static;
    padding: 5em 2em;
    
    &.invisible{
      > div {
        opacity: 1;
      }
    }
    
    &.hidden {
      display: block;
    }
    
    img {
      margin: 0 auto;
      margin-bottom: 4em;
    }
  }
  
  .close-showcase {
    display: none;
  }
  
  .showcase-content {
      margin: 0;
  }
}