// Sections
///////////////////////////////////////////////////////////////////////////////
.all-sections {
  @include media($larger-than-large) {
    transition-property: opacity;
    transition-duration: .5s;
  }
}

section {
  width: 100vw;
}

.text-area p, .talks, .form-wrapper {
  font-family: $text-font-family;

  margin: auto;

  margin-top: 1em;

  width: 95%;
}

.text-area p, .showcase-with-shot p, .talks, .form-wrapper, .information, h5, .description p {
  font-size: 1.3em;
  line-height: 1.3em;

  @include media($larger-than-small) {
    font-size: 1.4em;
  }

  @include media($larger-than-medium) {
    font-size: 1.5em;
  }

  @include media($larger-than-large) {
    font-size: 1.6em;
  }

  @include media($larger-than-very-large) {
    font-size: 1.7em;
  }
}

.grab {
  font-size: 1em;
  line-height: 1em;

  @include media($larger-than-small) {
    font-size: 1.1em;
  }

  @include media($larger-than-medium) {
    font-size: 1.2em;
  }

  @include media($larger-than-large) {
    font-size: 1.3em;
  }

  @include media($larger-than-very-large) {
    font-size: 1.4em;
  }
}

.text-area p {
  text-align: left;

  @include media($larger-than-small) {
    width: 90%;
  }

  @include media($larger-than-medium) {
    width: 80%;
  }

  @include media($larger-than-large) {
    width: 75%;
  }

  @include media($larger-than-very-large) {
    width: 60%;
  }
}

.talks, .form-wrapper {
  margin-top: 3em;

  @include media($larger-than-small) {
    width: 90%;
  }

  @include media($larger-than-large) {
    width: 85%;
  }

  @include media($larger-than-very-large) {
    width: 75%;
  }
}

.form-wrapper {
  margin-top: 2em;
  background: $white;
  padding: 1em;
}

.landing {
  display: flex;
  align-items: center;
  justify-content: center;

  background: url('/assets/images/device-background.svg');
  background-position: center;
  background-size: 24em;

  @include media($larger-than-small) {
    background-size: 34em;
  }

  background-repeat: no-repeat, no-repeat;

  position: relative;

  background-color: $even-section;

  overflow: auto; // Prevent margins from collapsing.

  min-height: 100vh;

  header {
    text-align: center;
    position: relative;
  }

  .apple {
    display: inline-block;
    background: url('/assets/images/apple.svg') no-repeat;
    background-size: contain;
    height: 1em;
    text-indent: -9999px;
    width: 1em;
    position: relative;
    top: 0.1em;
  }
}

.projects {
  background-color: $even-section;
  min-height: initial;

  padding-top: 3em;
  padding-left: 1em;
  padding-right: 1em;

  @include media($larger-than-medium) {
    padding-left: 3em;
    padding-right: 3em;
  }
}

.about {
  clear: both;

  padding-top: 4em;
  padding-bottom: 3em;

  background-color: $odd-section;

  .about-me {
     padding: 2em;
     padding-top: 1em;
     padding-bottom: 2em;
  }

  header {
    padding: 2em 0;

    @include media($larger-than-medium) {
      margin-top: 1em;
    }
  }

  h1 {
    font-family: $headline-font-family;
    text-transform: uppercase;
    text-align: center;

    color: $base-font-color;

    margin-bottom: 0.1em;

    font-size: 2.5em;
  }

  h2 {
    font-family: $headline-font-family;
    text-align: center;

    color: $black;

    font-weight: normal;
    font-size: 1.5em;

    margin-top: 0.5em;
  }

  .me {
    display: block;

    width:  10em;
    height: 10em;

    border-radius: 100%;

    margin: 0 auto;
  }
}

// Showcase sections
////////////////////////////////////////////////////////////////////////////////

.showcase, .showcase-small {
  max-width: 75em;
  margin: 1em auto;
  display: flex;
  flex-wrap: wrap;
}

.showcase .showcase-wrapper {
  flex: 0 0 100%;
  padding: 1em;

  @include media($larger-than-medium) {
    flex: 0 0 50%;
  }

  @include media($larger-than-large) {
    padding: 2em;
  }
}

.showcase .showcase-wrapper.double {
  flex: 0 0 100%;
  padding: 1em;

  @include media($larger-than-large) {
    padding: 2em;
  }
}

.showcase-small .showcase-wrapper {
  flex: 0 0 100%;
  padding: 1em;

  @include media($larger-than-medium) {
    flex: 0 0 33.33%;
  }

  @include media($larger-than-large) {
    padding: 2em;
  }
}

.showcase-item {
  display: block;
  color: $black;
  border-radius: 0.5em;
  transition: all .3s ease-in-out;

  &:hover {
    color: inherit;
    transform: scale(1.05, 1.05);
    box-shadow: 0 0 .6em rgba($black, .1);
  }

  &::after {
    content: none;
  }
}

.preview {
  .actitens & {
    background-image: url(/assets/images/actitens.svg);
  }

  .abjapp & {
    background-image: url(/assets/images/abjapp.svg);
  }

  .instructions & {
    background-image: url(/assets/images/instructions.svg);
  }

  .pomme-plate & {
    background-image: url(/assets/images/pomme-plate.svg);
  }

  .sophisticate & {
    background-image: url(/assets/images/sophisticate.svg);
  }

  .genetrainer & {
    background-image: url(/assets/images/genetrainer.svg);
  }

  .mynox & {
    background-image: url(/assets/images/mynox.svg);
  }

  .how-many-sleeps & {
    background-image: url(/assets/images/how-many-sleeps.svg);
  }

  .showcase-item:hover & {
    background-size: 120%;
  }

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all .3s ease-in-out;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 55%;
  }
}

@include media($larger-than-medium) {
  .double .showcase-item:hover .preview {
    background-size: 70%;
  }

  .double .preview {
    background-size: 50%;

    &::before {
      padding-top: 26%;
    }
  }
}

.plateform {
  width: 100%;
  background-color: $white;
  padding: 1em;
  display: flex;

  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;

  font-size: 1.2em;

  p {
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 0;
  }
}

.showcase-small .plateform {
  p {
    font-size: .9em;
  }
}

.actitens {
  background-color: $actitens-color;
}

.abjapp {
  background-color: $abjapp-color;
}

.instructions {
  background-color: $instructions-color;
}

.pomme-plate {
  background-color: $pomme-plate-color;
}

.sophisticate {
  background-color: $sophisticate-color;
}

.genetrainer {
  background-color: $genetrainer-color;
}

.mynox {
  background-color: $mynox-color;
}

.how-many-sleeps {
  background-color: $how-many-sleeps-color;
}

.speaking {
  background: $odd-section;
  min-height: initial;
  padding: 3em 2em;

  @include media($larger-than-large) {
    padding: 3em;
  }
}

.get-in-touch {
  background: $even-section;
  min-height: initial;
  padding: 3em 1em;

  @include media($larger-than-large) {
    padding: 3em;
  }
}

.thanks {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  font-size: 1.2em;

  h1 {
    margin: .25em;
  }

  h2 {
    margin-bottom: .5em
  }
}

footer {
  background: $odd-section;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.social-button {
  display: block;
  height: 3em;
  text-indent: -9999px;
  width: 3em;

  &::after {
    content: none;
  }

  margin-left: 2em;

  &:first-child {
    margin-left: 0;
  }

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.2, 1.2);
  }
}

.github {
  background: url('/assets/images/github.svg') no-repeat;
  background-size: contain;
}

.linkedin {
  background: url('/assets/images/linkedin.svg') no-repeat;
  background-size: contain;
}

.twitter {
  background: url('/assets/images/twitter.svg') no-repeat;
  background-size: contain;
}


.skills {
  background-color: #FCFAF8;
  width: 100%;
  padding: 1.5em;
  margin: 1.5em 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  @include media($larger-than-medium) {
    padding: 3em;
  }
}

.rail {
  position: relative;
  max-width: 1280px;
  width: 100%;

  @include media($larger-than-medium) {
    &::before {
      position: absolute;
      left: 2em;
      top: calc(3em - 1.5px);
      z-index: 500;

      content: '';
      width: calc(100% - 1px - 4em);
      height: 3px;

      background-color: $dark-beige;
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;

  @include media($larger-than-medium) {
    justify-content: space-between;
    align-items: center;
  }

  li {
    display: flex;
    flex: 0 0 5em;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 1em 2em;

    @include media($larger-than-medium) {
      margin: 0 2em;
    }

    > span {
      color: $mini-header-color;
      font-family: $headline-font-family;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;
      margin-top: 1em;
    }
  }

  img {
    z-index: 600;
    width: 6em;
    height: 6em;

    border-radius: 100%;
    border: 2px solid $dark-beige;

    @include media($larger-than-medium) {
      border-width: 3px;
    }
  }
}
