// Colors
////////////////////////////////////////////////////////////////////////////////
$white:                     #fff;
$black:                     #40434a;

$beige:                     #f9f5f1;
$green:                     #009a9c;

$dark-beige:                #ded9d1;

// Layout colors
////////////////////////////////////////////////////////////////////////////////
$default-background-color:  $beige;

// Sections
////////////////////////////////////////////////////////////////////////////////
$even-section:              $beige;
$odd-section:               $white;

$actitens-color:            #13b3d5;
$abjapp-color:              #b68bfc;
$instructions-color:        #7abf6a;
$pomme-plate-color:         #f5515f;
$sophisticate-color:        #333333;
$genetrainer-color:         #4bb19e;
$mynox-color:               #ff8839;
$how-many-sleeps-color:     #13253b;
$ink-color:                 #df5858;
$daz-color:                 #00bc8d;

$darken-actitens-color:        darken($actitens-color, 10);
$darken-abjapp-color:          darken($abjapp-color, 10);
$darken-instructions-color:    darken($instructions-color, 10);
$darken-pomme-plate-color:     darken($pomme-plate-color, 10);
$darken-sophisticate-color:    darken($sophisticate-color, 10);
$darken-genetrainer-color:     darken($genetrainer-color, 10);
$darken-mynox-color:           darken($mynox-color, 10);
$darken-how-many-sleeps-color: darken($how-many-sleeps-color, 10);
$darken-ink-color:             darken($ink-color, 10);
$darken-daz-color:             darken($daz-color, 10);

$super-dark-actitens-color:        darken($actitens-color, 20);
$super-dark-abjapp-color:          darken($abjapp-color, 20);
$super-dark-instructions-color:    darken($instructions-color, 20);
$super-dark-pomme-plate-color:     darken($pomme-plate-color, 20);
$super-dark-sophisticate-color:    darken($sophisticate-color, 20);
$super-dark-genetrainer-color:     darken($genetrainer-color, 20);
$super-dark-mynox-color:           darken($mynox-color, 20);
$super-dark-how-many-sleeps-color: darken($how-many-sleeps-color, 20);
$super-dark-ink-color:             darken($ink-color, 10);
$super-dark-daz-color:             darken($daz-color, 10);

// Styles
////////////////////////////////////////////////////////////////////////////////
$border-color:              $dark-beige;
$focused-border-color:      $green;

$mini-header-color:         $green;
$mini-subheader-color:      $black;

$navigation-background:     $beige;

$main-button-color:         $green;
$navigation-color:          $black;

// Typography colors
////////////////////////////////////////////////////////////////////////////////
$headline-text-color:       $green;
$subheadline-text-color:    $black;

$base-font-color:           $black;
$base-link-color:           $green;
$hover-link-color:          darken($green, 10);

$showcase-link-color:       rgba(0, 0, 0, .2);
