// Colors
////////////////////////////////////////////////////////////////////////////////
$dark-white:  #faffff;
$black:       black;
$light-black: #333;

$grey:        #aaa;
$blue:        #477dca;
$dark-grey:   #292e33;

// Layout colors
////////////////////////////////////////////////////////////////////////////////
$html-background-color: $dark-white;
$body-background-color: $black;

$landing-border-color: white;

// Sections
////////////////////////////////////////////////////////////////////////////////
$about-background-color: $dark-white;

$abjapp-color:           #9060c1;
$gimmicode-color:        #1a9bcf;
$instructions-color:     #7abf6a;
$pomme-plate-color:      #F5515F;

$dark-section-first-color: #454d58;
$dark-section-second-color: #21262a;

$light-section-first-color: $about-background-color;
$light-section-second-color: #e6e8ec;

$picture-border-color:   rgba($dark-section-second-color, .8);

// Typography colors
////////////////////////////////////////////////////////////////////////////////
$headline-text-color:    white;
$subheadline-text-color: white;

$base-font-color:  $light-black;
$base-link-color:  $blue;
$hover-link-color: darken($blue, 25);

$showcase-link-color: white;
$gimmicode-link-hover-color: rgba(darken(blue, 40), .5);
$abjapp-link-hover-color: rgba(darken(purple, 40), .5);
$instructions-link-hover-color: rgba(darken(green, 40), .5);
$pomme-plate-link-hover-color: rgba(darken(hotpink, 40), .5);
