// Colors
////////////////////////////////////////////////////////////////////////////////
$white:                     #fff;
$black:                     #40434a;

$beige:                     #f9f5f1;
$green:                     #009a9c;

$dark-beige:                #ded9d1;

// Layout colors
////////////////////////////////////////////////////////////////////////////////
$default-background-color:  $beige;

// Sections
////////////////////////////////////////////////////////////////////////////////
$even-section:              $beige;
$odd-section:               $white;

$actitens-color:            #13b3d5;
$abjapp-color:              #9060c1;
$instructions-color:        #7abf6a;
$pomme-plate-color:         #f5515f;

$darken-actitens-color:     darken(#13b3d5, 10);
$darken-abjapp-color:       darken(#9060c1, 10);
$darken-instructions-color: darken(#7abf6a, 10);
$darken-pomme-plate-color:  darken(#f5515f, 10);

// Styles
////////////////////////////////////////////////////////////////////////////////
$border-color:              $dark-beige;
$focused-border-color:      $green;

$mini-header-color:         $green;
$mini-subheader-color:      $black;

$navigation-background:     $beige;

$main-button-color:         $green;
$navigation-color:          $black;

// Typography colors
////////////////////////////////////////////////////////////////////////////////
$headline-text-color:       $green;
$subheadline-text-color:    $black;

$base-font-color:           $black;
$base-link-color:           $green;
$hover-link-color:          darken($green, 10);

$showcase-link-color:       rgba(0, 0, 0, .2);
