// Typography
///////////////////////////////////////////////////////////////////////////////
$base-line-height: $base-font-size * 1.5;

// Layout
///////////////////////////////////////////////////////////////////////////////

// Decoration
///////////////////////////////////////////////////////////////////////////////
$nav-button-border-radius: .35rem;
$base-border-radius: .5rem;
