// Typography
///////////////////////////////////////////////////////////////////////////////
$primary-typeface:        'Fjalla One';
$secondary-typeface:      'Dosis';
$tertiary-typeface:       'Inconsolata';

$headline-font-family:    $primary-typeface, sans-serif;
$subheadline-font-family: $secondary-typeface, sans-serif;
$text-font-family:        $secondary-typeface, sans-serif;
$easter-egg-font-family:  $tertiary-typeface, monospace;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size-px: 16px;
$base-font-size: 1em;
