.very-old-ie {
  background-color: #0000aa;
  color: white;
  font-family: 'Lucida Console', 'consolas',  sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  
  height: 100%;
  width: 100%;
  
  p, ul, li {
    text-align: left;
  }

  a, a:hover {
    color: white;
  }

  ul {
    list-style-type: none;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .ugly-grey {
    background-color: #aaaaaa;
    padding: 2px 8px;
    color: #0000aa;
  }

  .links {
    text-align: center;
  }

  .blinking {
    text-decoration: blink;
  }
}


.old-ie {
  background-color: #1a65b5;
  color: white;
  font-family: 'Segoe UI',  sans-serif;
  font-size: 16px;
  line-height: 1.5;
  
  .main {
    width: 64em;
    margin: 10em auto;
  }

  a {
    color: white;
  }

  a:hover {
    color: white;
  }

  h1 {
    font-size: 8em;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 1.5em;
    font-weight: normal;
    text-align: left;
    margin-top: 0;
  }

  p {
    font-size: 0.9em;
  }
}
