<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        
        <title>{{ page.title }}</title>
        
        <meta name="description" content="Hey, I'm Fred, this is my personal website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
        
        <meta property="og:title" content="Ephread's place"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ephread.com">
        <meta property="og:description" content="Hey, I'm Fred, this is my personal website."/>
        <meta property="og:image" content="http://ephread.com/assets/images/me.jpg">
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://ephread.com">
        <meta name="twitter:description" content="Hey, I'm Fred, this is my personal website.">
        <meta name="twitter:image" content="http://ephread.com/assets/images/me.jpg">

        <!--[if IE 9]><!-->
          <link rel="stylesheet" href="/assets/stylesheets/application.css">
        <!--<![endif]-->
        
        <!--[if lt IE 9]>
          <link rel="stylesheet" href="/assets/stylesheets/ie6-8.css">
        <![endif]-->
        
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>
      
    <!--[if IE 9]><!-->
    <!--[if IE 9]>
    <body class="ie9">
    <![endif]-->
    <!--[if !IE]>-->
    <body>
    <!--<![endif]-->
        <div id="all-sections" class="all-sections">
            {{ content }}
        </div>
        
        <script src="/assets/javascripts/application.js"></script>
    </body>
    <!--<![endif]-->
    
    <!--
      Forbidden for old IE users, 'cause after all, my place, my rules, bro!
    -->
    <!--[if (IE 6)|(IE 7)]>
    <body class="very-old-ie">
      <div class="main">
        <h1><span class="ugly-grey">Ephread</span></h1>
        <p>
        I am not friendly with an old Internet Explorer. If you are seing this screen, yours must be seriously old. There are two things you can do:
        </p>
        <ul>
          <li>
            * Update your system and then update Internet Explorer.
          </li>
          <li>
            * Use Chrome, Firefox or any other browser that stays UP TO DATE.
          </li>
        </ul>

        <p class="links">
          Press any link to continue <span class="blinking">_</span>
        </p>
      </div>
    </body>
    <![endif]-->
      
    <!--[if (IE 8)]>
    <body class="old-ie">
      <section class="main">
        <h1>:(</h1>
        <h2 class="main-message">
        Your browser is too old for me to be nice with him. You should update to a decent version of Internet Explorer, or pick the most recent one.
        </h2>

        <p>
        Alternatively, you can also use browsers that stay up to date on all operating systems, such as Chrome or Firefox.
        </p>
      </section>
    </body>
    <![endif]-->
</html>