<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{ page.title }}</title>

        <meta name="description" content="Hey, I'm Fred, this is my personal website.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

        <meta property="og:title" content="Frédéric Maquin | Independent iOS developer"/>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://ephread.com">
        <meta property="og:description" content="Hey, I'm Fred, I'm a freelance iOS developer currently available for hire!"/>
        <meta property="og:image" content="http://www.gravatar.com/avatar/07cace5d941b67f22d030088283a10f0?s=400">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:url" content="http://ephread.com">
        <meta name="twitter:description" content="Hey, I'm Fred, I'm a freelance iOS developer currently available for hire!">
        <meta name="twitter:image" content="http://www.gravatar.com/avatar/07cace5d941b67f22d030088283a10f0?s=400">

        <link rel="stylesheet" href="/assets/stylesheets/application.css">
        <link href="https://fonts.googleapis.com/css?family=Dosis:400,500,700|Fjalla+One" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="//assets/images/favicon.ico" />
        <link rel="mask-icon" href="/assets/images/mask-icon.svg" color="#009a9c">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    </head>

    <body>
        <div id="all-sections" class="all-sections">
            {{ content }}
        </div>

        <script src="/assets/javascripts/application.js"></script>
    </body>
</html>
