<!doctype html>
<html class="no-js portfolio">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ page.title }}</title>

    <meta name="description" content="Hey, I'm Fred, this is my personal website.">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">

    <!-- Facebook OpenGraph -->
    <meta property="og:title" content="Frédéric Maquin | Independent iOS developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ephread.com">
    <meta property="og:description" content="Hey, I'm Fred, I'm a independent iOS developer available for hire!" />
    <meta property="og:image" content="https://ephread.com/assets/images/social.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Frédéric Maquin | Independent iOS developer">
    <meta name="twitter:url" content="https://ephread.com">
    <meta name="twitter:description" content="Hey, I'm Fred, I'm a independent iOS developer available for hire!">
    <meta name="twitter:image" content="https://ephread.com/assets/images/social.png">

    {% include shared-head.ext %}
</head>

<body>
    <div id="all-sections" class="all-sections">
        <nav id="navigation">
            <ul>
                <!-- <li id="nav-blog"><a href="/articles">Articles</a></li> -->
                <li id="nav-about"><a href="#about">About</a></li>
                <li id="nav-work"><a href="#work">Work</a></li>
                <li id="nav-speaking"><a href="#speaking">Speaking</a></li>
                <li class="main-button"><a href="#get-in-touch">Get in touch</a></li>
            </ul>
        </nav>

        {{ content }}
    </div>

    {% include shared-scripts.ext %}
</body>

</html>